# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.mover-current-file-record
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# User Data / Scratch
scratch/
.system_generated/
